# Descarga de Librerias y Configuración:

In [7]:
#editamos el path para poder acceder a las funciones con la estructura actual de carpetas
from sys import path
import os
path.append(os.path.realpath('../'))

In [8]:
#importamos las funciones que hemos creado nosotros
#from utils import functions as func

#importamos librería
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,MinMaxScaler, OrdinalEncoder
from sklearn.impute import SimpleImputer

import folium
import plotly.express as px
import warnings
warnings.simplefilter(action = 'ignore', category = FutureWarning)

In [9]:
pip install nbformat

Requirement already satisfied: nbformat in c:\users\v.capria\appdata\local\programs\python\python312\lib\site-packages (5.9.2)
Requirement already satisfied: fastjsonschema in c:\users\v.capria\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\v.capria\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (4.20.0)
Requirement already satisfied: jupyter-core in c:\users\v.capria\appdata\roaming\python\python312\site-packages (from nbformat) (5.5.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\v.capria\appdata\roaming\python\python312\site-packages (from nbformat) (5.13.0)
Requirement already satisfied: attrs>=22.2.0 in c:\users\v.capria\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\v.capria\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\v.capria\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.32.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\v.capria\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.16.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\v.capria\appdata\roaming\python\python312\site-packages (from jupyter-core->nbformat) (3.11.0)
Requirement already satisfied: pywin32>=300 in c:\users\v.capria\appdata\roaming\python\python312\site-packages (from jupyter-core->nbformat) (306)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
%run ../funciones.ipynb

In [11]:
#from google.colab import drive
#drive.mount('/content/drive')

In [12]:
# Leemos el fichero:
ruta= 'c:/Users/v.capria/Downloads/Capstone/data/'

df = pd.read_csv(os.path.join(ruta+'df_merged_final.csv'))

# Datasets: analizamos cada dataset por separado.

### df_calendar

In [13]:
df.head()

,id,item_x,category_x,department,store,store_code_x,region,d,sales,date,weekday,weekday_int,event,week,month,year,yearweek,sell_price
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,No,4,1,2011,201104,NaN
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,No,4,1,2011,201104,NaN
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,No,4,1,2011,201104,NaN
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,No,4,1,2011,201104,NaN
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,No,4,1,2011,201104,NaN

In [14]:
df['date'] = pd.to_datetime(df['date'])

In [15]:
df.rename(columns={'sales': 'qty_sold'}, inplace=True)
print('Renombramos la variable sales, para que tenga un nombre mas representativo.')

Renombramos la variable sales, para que tenga un nombre mas representativo.

In [16]:
df['total_sales'] = df['qty_sold'] * df['sell_price']
print('Creamos una nueva variable llamada total_sales que representa la cantidad vendida al precio del momento.')

Creamos una nueva variable llamada total_sales que representa la cantidad vendida al precio del momento.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 19 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   item_x        object
 2   category_x    object
 3   department    object
 4   store         object
 5   store_code_x  object
 6   region        object
 7   d             object
 8   qty_sold      int64
 9   date          datetime64[ns]
 10  weekday       object
 11  weekday_int   int64
 12  event         object
 13  week          int64
 14  month         int64
 15  year          int64
 16  yearweek      int64
 17  sell_price    float64
 18  total_sales   float64
dtypes: datetime64[ns](1), float64(2), int64(6), object(10)
memory usage: 8.3+ GB

In [18]:
df.head()

,id,item_x,category_x,department,store,store_code_x,region,d,qty_sold,date,weekday,weekday_int,event,week,month,year,yearweek,sell_price,total_sales
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,No,4,1,2011,201104,NaN,NaN
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,No,4,1,2011,201104,NaN,NaN
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,No,4,1,2011,201104,NaN,NaN
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,No,4,1,2011,201104,NaN,NaN
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,No,4,1,2011,201104,NaN,NaN

# EDA: Analisis Exploratorio

In [19]:
target = 'total_sales'
print('El target es la variable: ', target)

features = df.columns[df.columns!=target]
print('Las features son las variables:', features)

El target es la variable:  total_sales
Las features son las variables: Index(['id', 'item_x', 'category_x', 'department', 'store', 'store_code_x',
       'region', 'd', 'qty_sold', 'date', 'weekday', 'weekday_int', 'event',
       'week', 'month', 'year', 'yearweek', 'sell_price'],
      dtype='object')

In [20]:
# Verificamos datos duplicados:
df[df.duplicated()]
print('No hay datos duplicados.')

No hay datos duplicados.

In [24]:
# Verificamos que no haya nulos en el dataframe:
df.isnull().sum()

id                     0
item_x                 0
category_x             0
department             0
store                  0
store_code_x           0
region                 0
d                      0
qty_sold               0
date                   0
weekday                0
weekday_int            0
event                  0
week                   0
month                  0
year                   0
yearweek               0
sell_price      12532729
total_sales     12532729
dtype: int64

In [23]:
print('Miramos cuantas observaciones tienen 0 y cuantas 1')
value_counts_percentage(df, target)

Miramos cuantas observaciones tienen 0 y cuantas 1
Categories for: total_sales
       Category    Counts  Percentage
0        0.0000  27352752   46.895226
1           NaN  12532729   21.486875
2        3.5760    295347    0.506361
3        2.3760    275797    0.472843
4        3.0000    224712    0.385260
...         ...       ...         ...
17007  127.8396         1    0.000002
17008  151.5136         1    0.000002
17009  258.1250         1    0.000002
17010  377.5680         1    0.000002
17011  437.5250         1    0.000002

[17012 rows x 3 columns]

Imputar valores nulos de la variable 'sellprice', pero OJO porque no se puede imputar el del dia anterior o mes anterior sin primero filtrar por producto.